<FilesMatch "\.(bak|inc|lib|sh|tpl|lbi|dwt|xxx)$">
    order deny,allow
    deny from all
</FilesMatch>

RewriteEngine On

RewriteRule ^index\.htm$                                                                                 index\.php?a=home&m=index [L]
RewriteRule ^$                                                                                                    index\.php?a=home&m=index [L]
RewriteRule ^admin$                                                                                         index\.php?a=admin&m=index [L]

RewriteRule ^index-a-(\w+)-m-(\w+)-(\w+)-(.*)-(\w+)-(.*)-(\w+)-(.*)\.htm$                    index.php?a=$1&m=$2&$3=$4&$5=$6&$7=$8
RewriteRule ^index-a-(\w+)-m-(\w+)-(\w+)-(.*)-(\w+)-(.*)\.htm$                                 index.php?a=$1&m=$2&$3=$4&$5=$6
RewriteRule ^index-a-(\w+)-m-(\w+)-(\w+)-(.*)\.htm$                                              index.php?a=$1&m=$2&$3=$4
RewriteRule ^index-a-(\w+)-m-(\w+)\.htm$                                                            index.php?a=$1&m=$2