@charset "utf-8";
@font-face { 
  font-family: 'Helvetica-Bold';
  src: url('./font/helvetica/HelveticaNeueLTPro-Bd.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica-Light';
  src: url('./font/helvetica/HelveticaNeueLTPro-Lt.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica-Roman';
  src: url('./font/helvetica/HelveticaNeueLTPro-Roman.ttf') format('truetype');
}
@font-face { 
  font-family: 'Helvetica-Thin';
  src: url('./font/helvetica/HelveticaNeueLTPro-Th.ttf') format('truetype');
}
body {background: #fff; color: #5C5C5C;font-family:'Helvetica',Arial,"Microsoft YaHei",微软雅黑,"宋体"; font-size: 14px; line-height: 18px; margin: 0; padding: 0;min-width:1300px;}
h1, h2, h3, h4, h5, h6, p, form { margin: 0; padding: 0; font-weight: normal; font-size: 14px; }
ul, li, menu, ol, dd, dl, dt { list-style: none outside none; margin: 0; padding: 0; }
img, a { border: medium none; color: #5C5C5C; text-decoration: none; }
em,i { font-style: normal; }
table td {border-collapse: collapse;padding:0;margin:0}
input[type=submit], input[type=button], button {cursor:pointer}
.clearn, .clear { clear: both; height: 0; }
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; }
.hidden,.hide { display: none !important; visibility: hidden !important; }
.text { text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }
.sbSeo{position: absolute;top: -5000px;}
.f_left{float:left}
.hided{display: none}
.inner{width:1024px;margin:0 auto;padding:0 10px;overflow: hidden;}


.popBox{background: #000;}

.icons{background: url('../images/icon.png') no-repeat;overflow: hidden;}

.formBox{position:relative}

#Wrapper{position: relative;}

header{background: #90C31F;padding: 18px 0 27px;position: relative;}
header .inner{overflow: visible;width: 100%;max-width: 1280px;}
#Logo{float: left;width: 156px;height: 44px;display: block;line-height: 65px;}
#Logo img{width: 100%;}
.menuBox{float:right;position: relative;height: 40px}
#MenuBtn{display: none;background: url("../images/mobile/Menu_normal@2x.png") no-repeat 50% 50%;width: 50px;height: 100%;text-indent: -99999px;background-size: 70% auto}
#MenuBtn.on{background:url("../images/mobile/Menu_press@2x.png") no-repeat 50% 50% #fff;background-size: 70% auto}
menu {float: right;display: block;}
menu li{float:left;text-align: center;padding-left: 43px;line-height: 44px;}
menu li a{font-family:'Helvetica-Bold',Arial;font-weight: bold; color: #fff;position: relative;display: block;height: 44px;}
.hasSub{background: url("../images/arrow_01.png") no-repeat right 50%;padding-right: 18px;}
menu li a em{display: none;position: absolute;bottom:-27px;left: 0;width: 100%;}
menu li a em i{height: 0;width: 0;overflow: hidden;display: block;margin: 0 auto;border-left: 10px solid transparent;border-right: 10px solid transparent;border-bottom: 12px solid #4a4a4a;}
menu li a.active,menu li a:hover{color: #4a4a4a;}
.hasSub.active,.hasSub:hover{background-image: url("../images/arrow_02.png");}

header.isFix{z-index:100;width:100%;top:0;left:0;position:fixed;border-bottom: 1px solid #fff;padding: 5px 0;}
header.isFix #Logo{width: 98px;}
header.isFix li a{height: 40px;line-height: 40px;}
header.isFix menu li a em {bottom: -9px;}

.subMenu{display: none; position: absolute;top: 100%;background: #4a4a4a;color: #fff;left: 0;z-index: 10;width: 100%;}
.subMenu ul{width: 935px;margin: 0 auto;overflow: hidden;padding: 40px 10px 50px;}
.subMenu ul.subDefault li,.solCtgs li{width: 25%;float: left;text-align: left;padding-left: 0}
.subMenu ul.subDefault li a,.solCtgs li a{display: block;height: 40px;line-height: 40px; color: #fff;width: 95%;border-bottom: 1px solid #90C31F;padding-right: 0}
.solCtgs a{font-size: 18px;font-family: 'Helvetica-Light',Arial;}
.subMenu a,.subMenu ul.subDefault li a:hover,.subMenu ul.subDefault li a.active
,.solCtgs a:hover,.solCtgs a.active{background-image: none;font-weight: normal;font-family: 'Helvetica-Light',Arial;font-size: 18px;color: #90C31F}

.subProNav{overflow: hidden;}
.subMenu ul.subDefault.subProNav li{float: left;width: 50%;overflow: hidden;}
.subMenu ul.subDefault.subProNav li a{border: none;}
.navImg,.navInfo{float: left;}
.navImg{width: 175px;}
.navInfo{width: 240px;padding-left: 20px;}
menu li ul.subDefault.subProNav a.navTitle,menu li ul.subDefault.subProNav a.navTitle:hover{font-size: 32px;font-family: 'Helvetica-Light',Arial;line-height: 60px;position: relative;height: auto;border: none;}
.navTitle .line{display: none;width: 145px;height: 1px;overflow: hidden;background: #90C31F;margin: 10px 0;}
.subProNav .ovs{line-height: 20px;padding:0 0 20px;display: block;border: none;}
menu li .subMenu ul.subDefault.subProNav a.navRmore,menu li .subMenu ul.subDefault.subProNav a.navRmore:hover{color: #90C31F;font-size: 12px;}

	.slidebox{position: relative;overflow: hidden;}
	.slidebox ul{overflow:hidden;}
	.slidebox ul li{float:left;}

/* 400 500 */
#Error{padding: 50px 0}
.error{text-align: center;line-height: 30px;font-size: 24px;}
.error span{padding:0 10px 0 0;}
.error a{font-size: 16px;color: #542c14}
/** input error **/
.isError .error{font-size: 14px;color: #f40;padding: 0 10px;position: absolute;right: 10px;top: 8px;}

/* Footer */
footer{background: #999}
footer .inner{padding:30px 0;color:#CDCDCD;border-top: 1px solid #CDCDCD;overflow: hidden;}
.gs{float: left;}
.footRight{float: right;width: 60%;text-align: right;}
.fotMenu{padding-bottom: 10px}
.fotMenu,.fotMenu a{color: #CDCDCD;}
#CopyRight{color: #CDCDCD;font-size: 12px;}

#ScrollTop{display: block;width: 48px;height: 48px;text-indent: -99999px;background-position: 0 0;position: fixed;right: 20px;bottom: 20px;z-index: 50px;}
#ScrollTop:hover{background-position: 0 -68px;}



@media screen and (min-width: 0px) and (max-width: 850px) {
  body{width: 100%;min-width: 100px;font-size: 62.5%;}
  .inner{width: 95%;width:-moz-calc(100%-32px);width:-webkit-calc(100%-32px);width:calc(100%-32px);margin: 0 auto}
  header,header.isFix{padding: 4px 0}
  header .inner{overflow: visible;width: 100%;padding: 0}
  header .inner #Logo{margin-left: 20px}
  header #Logo{width: 98px;}
  header #MenuBtn{position: relative;background-size: 18px auto;padding: 8px 0;top: -6px}
  header #MenuBtn.on{background-size: 18px auto}
  header li a,header li a{height: 58px;line-height: 58px;}

  #MenuBtn{display: block;}
  header.isFix #MenuBtn{padding: 8px 0;top: -6px}
  menu{position: absolute;z-index: 1000;width: 100%;top: 100%;left: 0;display: none}
  menu li{float:none;background: #fff;padding: 0;border-bottom: 1px solid #90C31F}
  menu li a{font-size: 1.6em;color: #5C5C5C;}
  menu li a:hover,menu li a.active{color: #90C31F}
  menu li a em{bottom: 0;left: 999999px;}
  .hasSub,.hasSub.active, .hasSub:hover{background: none;padding-right: 0;}
  .hasSub span{background: url("../images/arrow_03.png") no-repeat right 50%;padding-right: 18px;}
  .hasSub.active span, .hasSub:hover span{background-image: url("../images/arrow_04.png");}
  menu .subMenu{position: static;padding: 5px 0;background: #5C5C5C}
  .subMenu ul.subDefault li, .solCtgs li{width: 100%;background: #5C5C5C}
  .subMenu ul.subDefault li a, .solCtgs li a{float: none;}

  .subMenu ul{width: 100%;padding:0;max-height: 185px;overflow: auto;}
  .subMenu ul.subDefault li,.subMenu ul.subDefault.subProNav li{width: 100%;border: none;text-align: center;}
  .subMenu ul.subDefault li a, .solCtgs li a{border: none;font-size: 1.6em;}
  .subMenu ul.subDefault li a.active,.subMenu ul.subDefault li a:hover{font-size: 1.6em;}
  .subMenu ul.subDefault li a
  ,.subMenu ul.subDefault.subProNav li a,menu li ul.subDefault.subProNav a.navTitle, menu li ul.subDefault.subProNav a.navTitle:hover{color: #fff;border-bottom: 1px solid #767676;width: 100%;height: 58px;line-height: 58px;}
  menu li ul.subDefault.subProNav a.navTitle, menu li ul.subDefault.subProNav a.navTitle:hover{font-size: 1.6em;}
  .subMenu ul.subDefault li:last-child a,.subMenu ul.subDefault.subProNav li:last-child a,menu li ul.subDefault.subProNav li:last-child a.navTitle:hover{border-bottom:none;}
  .subProNav .navInfo{width: 100%;padding-left: 0}
  .subProNav .navImg,.subProNav .navInfo .ovs,.subProNav .navInfo .navRmore,.subProNav .line{display: none;}

  .fotMenu{font-size: 1.2em}
}