.line{display: block;height: 2px;width: 285px;margin: 35px auto;overflow: hidden;background: #90C31F}
.rsContent img{max-width: none;}
.productPage #ProTitle .line,.solutionPage #ProTitle .line{background: #4a4a4a}
/*** home page ***/
.homePage{background: #9B9B9B}
.pageBlock{min-height: 200px;position: relative;}
.pageCont{padding: 95px 0}
.pageTitle{font-size: 45px;font-family: "Helvetica-Bold",Arial;font-weight: bold;color: #fff;line-height: 60px;padding-bottom:60px;text-align: center;margin: 0 auto;letter-spacing: 1.5px;}
.btns{width: 275px;height: 50px;line-height: 50px;font-family: 'Helvetica',Arial;font-weight: bold; text-align: center;color: #fff;background: #90C31F;font-size: 14px;display: inline-block;margin: 25px 0 0}
.btns span{background: url("../images/icon.png") no-repeat right -157px;padding: 0 15px 0 0;letter-spacing: 0;}
.btns:hover{background: #fff;color: #90c31f}
.btns:hover span{background-position:right -210px}

.page1{background: #EBEBEB;overflow: hidden;}
	#full-width-slider {width: 100%;color: #000;}
	.royalSlider > .rsContent {visibility:hidden;}
	.fullWidth {margin: 0 auto;}
	.pageBlock .royalSlider .rsArrow{position: absolute;right: -9999999px}
	.wizInfo{position: absolute;top: 145px;z-index: 5;width: 100%;left: 0}
	.wizInfo .inner{letter-spacing: 1.5px;text-align: center;font-family: 'Helvetica-Bold',Arial;font-size:48px;line-height: 60px; color: #fff}
	.wizInfo .inner .ovs{font-family: 'Helvetica-Light',Arial}

.page2{background: #FFFFFF}
	.wizSay{width: 820px;margin: 0 auto;text-align: center;padding-bottom: 90px;}
	h3.say{background: url("../images/quote.png") no-repeat 13px 0;width: 100%;font-family: "Helvetica-Bold",Arial;font-size: 32px;line-height: 25px;color:#5C5C5C;height: 55px}
	.sayCont{font-family: "Helvetica-Light",Arial;font-size: 58px;line-height: 60px;color: #5C5C5C;}
		.sayCont .quote{background: url("../images/quote_down.png") no-repeat right 65%;padding: 0 15px 0 25px;}
		.sayCont .line{background: #5C5C5C;}
	.wizSay .ovs{color: #90C31F;font-size: 16px;line-height: 24px;font-family: "Helvetica-Roman",Arial;font-style: italic;width: 490px;margin: 0 auto}
	.rowBlock{overflow: hidden;padding-bottom: 20px;}
		.rbLeft,.rbRight{width: 45%;float: left;}
		.rbRight{float: right;}
		.rTxt{padding: 65px 0 0;}
		.rowBlock h4{font-family:"Helvetica-Light",Arial;font-size: 45px;line-height: 41px;color: #5C5C5C;padding-bottom: 25px}
		.rInfo{font-size: 18px;line-height: 26px;}
		.rImg{display: block;margin: 0 auto}
		.moblieImg{display: none;}
.page3{background: #90C31F}
	#KnowList{overflow: hidden;color: #fff;}
	.listBlock{float: left;width: 290px;padding:0 25px 50px;height: 330px;}
		.jobIcon{display: block;margin: 0 auto;margin-bottom: 18px;}
		.job{font-family:"Helvetica-Bold",Arial;text-align: center;font-size: 18px;line-height: 22px;margin-bottom: 18px;position: relative;height: 60px;}
		.job .line{width:150px;height: 1px;background: #fff;position: absolute;bottom: 0;left: 70px;margin: auto;}
		.jobOvs{padding-left: 8px;}
		.jobOvs li{list-style: disc outside none;font-size: 15px;}
	.lb1 .job,.lb2 .job{line-height: 55px;}
	.lb6 .jobOvs{margin-left: 60px;}
	.lb4,.lb5,.lb6{padding-bottom: 0;}
.page4{background: #5C5C5C}
	.pageTitle.work p{font-size: 16px;line-height: 18px; font-family: "Helvetica-Roman",Arial;font-style: italic;display: block;width: 90%;margin: 0 auto;padding-top: 15px;}
	.vdList{overflow: hidden;}
	.vdList li{float: left;width: 320px;padding: 0 10px;color: #fff;}
	.vdImg{display: block;margin-bottom: 20px;position: relative;width: 100%;height:180px;overflow: hidden; }
		.vdImg span{position: absolute;top:0;left: 0;z-index: 1;display: block;width: 100%;height: 100%;background:url('../images/Video.png') no-repeat 50% 50%;}
		.vdImg img{width: 100%;max-width: 100%;-o-transition: all 0.4s ease 0s;-moz-transition: all 0.4s ease 0s;transition: all 0.4s ease 0s;}
		.vdImg:hover img{-webkit-transform: scale(1.04);-ms-transform: scale(1.04);transform: scale(1.04);}
		.vdTitle{font-family: 'Helvetica-Bold',Arial;font-size: 18px;}
		.ovs{padding: 5px 0}
		.vdLink{color:#90C31F;font-size: 12px;}
		.videoBox .moreBtn{margin: 120px auto 0;display: block;width: 257px;line-height: 48px;height: 48px;font-size: 14px;}
.page5{background: #9B9B9B}
	.page5 .inner{overflow: visible}
	.contactBox{float: left;width:565px;}
		.contactTitle{font-size: 22px;line-height: 26px;text-align: left;padding-bottom:30px;}
		.fmRow{width: 100%;margin: 0 0 23px;}
		.iptBlock{padding: 0 22px;background: #cdcdcd;border: 1px solid #cdcdcd;position: relative;}
		.iptBlock.isError{border: 1px solid #f40}
		.iptTxt{width: 100%;padding: 15px 0;color: #4a4a4a;background: none;border:none;outline: none;font-size: 15px;font-family: "Helvetica",Arial;}
		.iptTxt.msgIpt{resize: none;height: 175px;font-family: "Helvetica",Arial;}
		.iptTxt.full{color: #4a4a4a;}
		input:input-placeholder,
		textarea:input-placeholder,
		input:-ms-input-placeholder,
		textarea:-ms-input-placeholder,
		input::-webkit-input-placeholder,
		textarea::-webkit-input-placeholder,
		input:-moz-placeholder,
		textarea:-moz-placeholder,
		input::-moz-placeholder,
		textarea::-moz-placeholder{
		    color: #9B9B9B;
		}
		.btns.sbmt{width: 167px;line-height: 43px;height: 43px;margin:0;}
	.mapBox{float: right;width: 445px;position: relative;}
	.map{background: url("../images/CONTACT_map.png") no-repeat;width: 471px;height: 268px;position: relative;right: -30px;text-indent: -9999999px;margin: 40px 0 0}
	.contactInfor{overflow: hidden;}
	.contactInfor li{float: left;text-align: center;color: #fff;padding: 60px 0 0;background: url("../images/CONTACT_location.png") no-repeat 50% 25px;font-size: 12px;width: 33%;}
	.contactInfor li p{font-size: 14px;}
	.contactInfor li a{color: #fff}
	.contactInfor li.infor2{background-image:url("../images/CONTACT_phone.png");}
	.contactInfor li.infor3{background-image:url("../images/CONTACT_mail.png");}





@media screen and (min-width: 0px) and (max-width: 850px) {
  body{width: 100%;min-width: 100px;font-size: 62.5%;}
  .inner{width: 96%;padding: 0 2%}
	header .inner{overflow: visible;width: 100%;padding: 0}
	header .inner #Logo{margin-left: 5px}

	#MenuBtn{display: block;position: relative;padding: 21px 0 27px;top: -17px}
	header.isFix #MenuBtn{padding: 8px 0;top: -6px}
	#MenuBtn.on{background:url("../images/mobile/Menu_press@2x.png") no-repeat 50% 50% #5C5C5C}
	menu{position: absolute;z-index: 1000;width: 100%;top: 100%;left: 0;display: none}
	menu li{float:none;background: #5C5C5C;padding: 0;border-bottom: 1px solid #90C31F}
	menu li a{font-size: 1.6em}
	menu li a:hover,menu li a.active{color: #90C31F}
	menu li a em{bottom: 0;left: 999999px;}
	menu .subMenu{position: static}
	.subMenu ul.subDefault li, .solCtgs li{width: 100%;}
	.subMenu ul.subDefault li a, .solCtgs li a{float: none;}

	.subMenu ul{width: 100%;padding:0;max-height: 180px;overflow: auto;}
	.subMenu ul.subDefault li,.subMenu ul.subDefault.subProNav li{width: 100%;border: none;text-align: center;}
	.subMenu ul.subDefault li a, .solCtgs li a{border: none;font-size: 1.6em;}
	menu li ul.subDefault.subProNav a.navTitle, menu li ul.subDefault.subProNav a.navTitle:hover{font-size: 1.4em;line-height: 2em}
	.subProNav .navInfo{width: 100%;}
	.subProNav .navImg,.subProNav .navInfo .ovs,.subProNav .navInfo .navRmore,.subProNav .line{display: none;}

	.pageCont{padding: 20px 0;}
	
	.wizInfo{top: 50px;}
	.wizInfo .inner{font-size: 2.2em;line-height: 28px;}

	.wizSay{width: auto;padding-bottom: 45px}
	h3.say{font-size: 2.8em;line-height: 2.2em;background-size: 45px auto;background-position: 15px 15px}
	.sayCont{font-size: 3.8em;line-height: 42px}
	.wizSay .ovs{width: auto;font-size: 1.4em;line-height: 20px}
	.sayCont .line{margin: 15px auto}

	.rbLeft,.rbRight{width: 100%;float: none;}
	.moblieImg{display: block;max-width: 70%;margin: 0 auto}
	.imgBlock{display: none;}
	.rTxt{padding: 20px 0 0}
	.rTxt h4{padding: 0 0 15px;font-size: 2.4em;line-height: 2em;}
	.rInfo{font-size: 1.4em;line-height: 20px;}

	.pageTitle{font-size: 3.2em;line-height:38px;width: 90%;padding-bottom: 30px;}
		.listBlock{float: none;width: 100%;padding: 0 0 30px;height: auto;}
		.job{height: auto;font-size: 1.8em}
		.jobIcon{width: 100px;}
		.jobOvs{padding-left: 20px;font-size: 1.4em}
		.jobOvs li{font-size: 1.4em;line-height: 1.3em;padding-bottom: 5px;}
		.job .line{position: static;left: auto;margin: 18px auto 0;}
		.lb1 .job,.lb2 .job,.lb5 .job{line-height: 22px;}
	
	.pageTitle.work p{width: 100%;}
	.vdList li{float: none;padding: 0 0 20px;width: 100%}
	.videoBox .moreBtn{margin-top: 20px;width: 100%;line-height:44px;height: 44px;font-size: 1.4em }
	
	.contactBox,.mapBox{float: none;}
	.contactBox{width: 100%;}
	.pageTitle.contactTitle{width: 100%;font-size: 2.2em;line-height: 21px;padding-bottom:15px;}
	.btns.sbmt{width: 100%;}
	.mapBox {width: 100%;}
	.mapBox .map{background-size: 100% auto;width: 100%;background-position: 50% 50%;right:0;margin-top: 20px;}
	.contactInfor li{float: none;width: 80%;margin: 0 auto}

	footer .inner{padding: 10px 0}
	.gs{display: none;}
	.footRight{float: none;width: 100%;text-align: center;}
	#ScrollTop{right: 0;-webkit-transform: scale(0.6);-ms-transform: scale(0.6);transform: scale(0.6);}
}
@media screen and (min-width:960px) and (min-height:660px) {
  .heroSlider .rsOverflow,
  .royalSlider.heroSlider {
      height: 520px !important;
  }
}
@media screen and (min-width:960px) and (min-height:1000px) {
    .heroSlider .rsOverflow,
    .royalSlider.heroSlider {
        height: 660px !important;
    }
}
@media screen and (min-width: 0px) and (max-width: 800px) {
  .royalSlider.heroSlider,
  .royalSlider.heroSlider .rsOverflow {
    height: 300px !important;
  }
}

/*** Product ***/
.productPage{}
.productPage .inner.isFull{overflow:visible;padding: 0;}
.pro_even{background: #fff}
.pro_odd{background: #F0F0F0}
.pro_page2{}
	#ProTitle{font-family: 'Helvetica-Bold',Arial;font-size: 58px;line-height: 60px;color: #4a4a4a;text-align: center;}
	#ProTitle p{font-family: 'Helvetica-Light',Arial;font-size: 58px;line-height: 60px;}
	.cloud{font-size: 28px;line-height: 42px;font-family: 'Helvetica-Light',Arial;text-align: center;}
.proLeft{width: 540px;float: left;position: relative;}
	.proBlockTitle{font-family: 'Helvetica-Light',Arial;font-size: 45px;line-height: 54px;padding-bottom: 20px;}
	.proOvs{font-size: 15px;line-height: 26px;}
.proRight{width: 480px;float: right;position: relative;}
.proRight.imgBlock{text-align: right;}
	.proImg{width: 714px;height:484px;position: relative;}
	.overWid{position: relative;right: 0;top: 0;}

#Pro_pro1 .pro_page3 .proImg{height:388px;top: -50px;}
#Pro_pro2 .pro_page3 .proLeft{padding-top: 80px;}
#Pro_pro2 .pro_page3 .proRight.imgBlock img{position: relative;top: 50px;z-index: 1}

/** About */
.aboutPage .inner.isFull{padding: 0;width: 100%}
.abtBlock{overflow: hidden;}
	.abtBlock img{width: 100%;}
	.abtLeft,.abtRight{float: left;width: 50%;}
	.txtBlock{padding:92px 92px 0;}
	.bkTitle{color: #90C31F;font-family: 'Helvetica-Light',Arial;line-height: 60px;font-size: 58px;padding-bottom: 15px;}
	.bkOvs{color: #4A4A4A;font-family: 'Helvetica-Light',Arial;line-height: 40px;font-size: 28px;}
.abt_page3{background: #5C5C5C}
	.abtRow{overflow: hidden;border-bottom: 1px solid #757575;padding-bottom: 60px;margin-bottom: 60px;}
	.abtRow.last{margin-bottom:0;border-bottom: none;padding-bottom: 0}
	.rowLeft{float: left;}
	.rowRight{float: right;}
	.portrait{width: 226px;}
		.portrait img{width: 100%;}
	.motto{width: 745px;color: #fff;font-family:'Helvetica-Light',Arial;}
		.mts{font-size: 26px;line-height: 40px;background: url("../images/about/quote.png") no-repeat right 0;padding-top:45px;}
		.person{font-size: 18px;font-family: 'Helvetica-Light',Arial;line-height: 34px;text-align: right;}
		.person strong{display: block;letter-spacing: 1px;font-family:'Helvetica-Bold',Arial;line-height: 24px}

/** Client **/
.clientPage{background: #fff}
.clientTitle{text-align: center;font-family: 'Helvetica-Light',Arial;font-size: 58px;line-height: 60px;color: #90C31F;}
.coopList{padding: 80px 0;width: 950px;margin: 0 auto;overflow: hidden;}
	.coopList li{width: 300px;float: left;padding: 0 85px 75px;}
		.cpImg .line{width: 200px;height: 1px;margin: 10px auto;background: none}
		.cpImg img{display: block;width: auto;max-width:100%;margin: 0 auto}
		.cpInfo{font-family: "Microsoft YaHei",微软雅黑;line-height: 26px;text-align: center;}
			.cpInfo p{font-size: 12px;color: #4A4A4A;}
			.cpInfo p.cpName{font-size: 18px;color: #4A4A4A;}
.clientList{width: 100%;margin-top:65px;}
.clientList td{width: 20%;text-align: center;padding: 0 0 40px;}

/** soluion **/
.solutionPage #ProTitle{font-family:'Helvetica-Light',Arial;}
.pageBlock.soluionMenus{background: #5C5C5C}
.solChoose{font-size: 22px;font-family: 'Helvetica-Bold',Arial;line-height: 24px;padding-bottom: 15px;color: #fff}
.canHelp{font-size: 20px;line-height: 42px;font-family: 'Helvetica',Arial;font-weight: bold; text-align: center;background: #EBEBEB;margin: 40px 0 20px;}
.helpList{overflow: hidden;padding-left: 30px;}
.helpList li{float: left;width: 48%;color: #5C5C5C;padding-bottom: 10px;font-size: 22px;line-height: 32px;font-family: 'Helvetica-Light',Arial;list-style:disc}
.helpList li:nth-child(2n){float: right;}


.solBlock{width: 45%;float: left;position: relative;}
.sBkImg,.bkInner img{display: block;float: left;position: relative;top: 30px;}
.bkInner{overflow: hidden;padding:0 0 30px 0;padding: 0 60px 30px\9;margin:0 auto;height: 160px;position: relative;}
.solInfo{width: 65%;width: 60%\9;float: right;}
	.sTitle{font-family: 'Helvetica-Bold',Arial;font-size: 18px;color: #4a4a4a;line-height: 22px;padding-bottom: 10px;}
	.sOvs{color: #676767;font-size: 15px}
.solutionPage .pro_page3 .pageCont{padding: 68px 0 38px}
.solBlock:nth-child(2n){float: right;}


@media screen and (min-width: 0px) and (max-width: 800px) {
	.abtLeft, .abtRight{width: 100%}
	.aboutPage .moblieImg{max-width: 100%;}
	.aboutPage .txtBlock{padding: 20px 0;}
	.aboutPage .txtBlock .bkTitle,.aboutPage .txtBlock .bkOvs{padding: 0 10px;}
	.bkTitle{font-size: 3em;line-height: 2em;padding-bottom: 0}
	.bkOvs{font-size: 2em;line-height: 1.2em}
	.motto{width: 100%;}
	.aboutPage .rowLeft,.aboutPage .rowRight{float: none;}
	.abtRow{padding-bottom: 20px;margin-bottom: 20px;}
	.mts{font-size: 1.8em;line-height: 1.2em;background-size: 40px auto;padding-top: 30px;}
	.person{font-size: 1.6em;line-height: 1em;padding-top: 10px;}

	#ProTitle{font-size: 2.4em;line-height: 1.2em}
	.cloud{font-size: 1.8em;line-height: 1.3em}
	.proRight,.proLeft{width: 100%}
	.proBlockTitle{font-size: 3em;line-height: 1em}
	.productPage .inner.isFull{padding-bottom: 50px;}
	.productPage .pro_page3 .moblieImg,.productPage .pro_page5 .moblieImg{margin-bottom: 30px;}

	.helpList{font-size: 1.4em;line-height: 1em}
	.helpList li,.helpList li:nth-child(2n){float: none;width: 100%;}
	.solBlock{width: 100%;float: none;border: none;}
	.solBlock:nth-child(2n){float: none;}
	.bkInner{padding-bottom: 20px;margin-bottom: 20px;border-bottom: 2px solid #E5E5E5;height: auto;}
	.solBlock.sb3 .bkInner, .solBlock.sb4 .bkInner{border-bottom: 2px solid #E5E5E5;}
	.sBkImg,.bkInner img{float: none;top: 0;margin: 0 auto;margin-bottom: 15px;}
	.solInfo{float: none;width: 100%;}

	.soluionMenus{display: none;}
	
	.coopList{width: 100%;padding: 30px 0;}
	.coopList li{float: none;width: 100%;padding: 0 0 20px;margin-bottom: 20px;border-bottom: 1px solid #ddd}
}